.quiz-container{
    background-color:  #DEEEE7;
    box-shadow: 5px 5px 5px gray;
    margin-left: 280px;
    margin-right: 280px;
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
}
.quiz-container:hover{
    background-color:  #b0ecd2;
    box-shadow: 15px 15px 15px gray;
}
.quiz-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quiz-options{
    margin-left: 50px;
    font-size: 22px;
}