.topic{
    background-color:  #fbeeff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    margin: 50px;
    margin-top: 0;
    box-shadow: 5px 5px 10px gray;
}
.topic:hover{
    background-color:  #e9c2f5;
    box-shadow: 15px 15px 15px gray;
}

.topic img{
    height: 200px;
}

.btn-start{
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    background-color: rgb(66, 66, 202);
    color: white;
    font-weight: bold;
}
.btn-start:hover{
    background-color: rgb(6, 6, 252);
}


/* ---------------------------------
            Media Queries
------------------------------------*/

/*------Mobile devices--------*/

@media only screen and (max-width: 688px) {
    .topic{
        display: flex;
        flex-direction: column;
        padding-left: 10;
        padding-right: 10;
        margin: 0;
        margin-top: 10;
        margin-bottom: 40px;
    }
    .btn-start{
        padding: 10px 30px;
    }
    .course-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}