.topics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px;
    padding-top: 50px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: url("../../../src/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-title{
    font-size: 40px;
    background-color: #fbeeff;
    padding: 20px;
    border-radius: 15px;
}


/* ---------------------------------
            Media Queries
------------------------------------*/

/*------Mobile devices--------*/

@media only screen and (max-width: 688px) {
    .topics{
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .banner{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    .banner-title{
        font-size: 14px;
        padding: 10px;
    }
}

/*------Tablet devices--------*/

@media only screen and (min-width: 689px) and (max-width: 991px) {
    .topics{
        display: grid;
        grid-template-columns: 1fr;
        padding: 80px;
    }
    .banner{
        height: 500px;
    }
    .banner-title{
        font-size: 24px;
        padding: 20px;
    }
}