.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    box-shadow: 5px 5px 5px rgb(203, 202, 202);
}

.header-title{
    font-size: 35px;
    font-weight: 700;
}

.header a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 20px;
}

.header a:hover{
    color: orange;
}