.graph{
    margin: 0 auto;
    margin-top: 100px;
}
.graph-title{
    text-align: center;
}
/* ---------------------------------
            Media Queries
------------------------------------*/

/*------Mobile devices--------*/

@media only screen and (max-width: 688px) {
    
}