.question-answer-container{
    margin-right: 130px;
    margin-left: 130px;
}

.question-container{
    margin-top: 60px;
}

.question-answer{
    margin: 130px;
    background-color:  #fbeeff;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}
.question-answer:hover{
    background-color:  #e9c2f5;
    box-shadow: 15px 15px 15px gray;
}